<!-- header.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="/">ShoppingCart!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Barra de búsqueda -->
            <form th:action="@{/products/search}" method="get" class="d-flex mx-auto w-50">
                <input class="form-control me-2" type="search" name="query" placeholder="Buscar productos..." aria-label="Buscar">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>

            <!-- Lista de botones a la derecha -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/products">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/export">Exportar Base de Datos</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Iniciar Sesión</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Cerrar Sesión</a>
				</li>
            </ul>
        </div>
    </div>
</nav>
