<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gracias por su compra</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <!-- Incluir el header -->
    <th:block th:replace="~{header :: header}"></th:block>

    <div class="container mt-5 text-center">
        <h1>¡Gracias por su compra!</h1>
        <p class="mt-3">Su factura se ha generado correctamente. Puede descargarla haciendo clic en el siguiente enlace:</p>
        <a href="/cart/download-invoice" class="btn btn-primary">Descargar Factura</a>
        <hr>
        <p class="mt-3">¿Desea seguir comprando?</p>
        <a href="/cart/clear" class="btn btn-secondary">Volver a la lista de productos</a>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
